@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;700&family=Pacifico&display=swap');
:root{
    --primary:purple;
    --primary-son:rgb(180, 7, 180);
    --secundary:seagreen;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--primary);;
}
.padronizando{
    display: inline-flex;
    background:var(--secundary);
    width: 90vw;
    height: 100vh;
    margin: 0 5%;
    padding: 0 auto;
}
.headerizando{
    display: flex;
    position: relative;
    width: 90vw;
    height: 20vh;
    margin-left: 5%;
    justify-content: center;
}
.title-site{
    font-family: 'Dancing Script';
    font-size: 8em;
    color: var(--primary);;
}
.lateral{
    display: inline-flex;
    position:absolute;
    left: 0;
    width: 5%;
    height: 100vh;
}
.config{
    position: absolute;
    width: 100%;
    height: 5%;
    top: 0;
    left: 0;
    aspect-ratio: 3/3;
    background: var(--primary);
    border: 0;
    border-radius: 50%;
}
.config img {
    width: 100%;
    height: 100%;
    background: var(--primary);
    border: solid 3px var(--secundary);
    color: var(--secundary);
    border-radius: 50%;
}
img ~ a.config:hover{
    background: var(--primary-son);
    
}
.apresentation{
    display: flex;
    position:absolute;
    top: 20vh;
    width: 80vw;
    height: 60%;
    margin-left: 5%;
    border: solid 3px var(--primary);
}
.grindando{
    display: grid;
    border: solid 1px var(--primary);
    color: var(--primary);
}
.centro{
    border: solid 3px orange;
    color: orange;
}